body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions-dropdown {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

main {
    padding: 20px;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
}

.task {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    background-color: white;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    border-bottom: 2px solid white;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    margin-left: 5px;
}

.footer-buttons {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    right: 0;
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
}

.round-button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
}
